<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compramos tus Usados</title>
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <meta name="description" content="Compramos tus juegos usados, consolas PS4, PS4 slim y PS4 pro. Xbox 360, Xbox ONE, Xbox ONE S y Xbox ONE X. Nintendo Switch">
        <h1 class="titulo">Estacion de juegos</h1>
    </header>
    
    <section> 
        <nav class="menuFondoRojo">
            <ul class="padre-flex">                
                <li class="menu"><a href="../index.html" class="ningunDecorado">Inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">Productos</a></li>
                <li class="menu"><a href="../views/servicios.html" class="ningunDecorado">Servicios</a></li>
                <li class="menu"><a href="../views/compra.html" class="ningunDecorado">Compramos tu usado</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">Contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="marg">
        <h2 class="rojo">Compramos tu producto usado</h2>

        <article class="art">Compramos tus juegos usados, tus consolas usadas y tus joystick. Completa el siguiente formulario si queres que te contactemos para darte una cotizacion del producto</article>
    </section>

    <section class="marg">
        <form action="">

                <input type="text" name="nombre" placeholder="Nombre" class="imp">

                <input type="text" name="telefono" placeholder="Telefono" class="imp">

                <input type="email" name="email" placeholder="Email" class="imp">

                <h3 class="rojo">Indica que productos queres vendernos</h3>

                <textarea name="" id="" cols="40" rows="10" placeholder="Tu mensaje" class="imp"></textarea>
                <br>

                <input type="submit" value="Enviar" class="env">
        </form>
    </section>

    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>

</body>
</html>