<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <meta name="description" content="Servicios de limpieza de consolas Ps4, Xbox y tambien Pc">
        <h1 class="titulo">Estacion de juegos</h1>
    </header>

        
    
    <section> 
        <nav class="menuFondoRojo">
            <ul class="padre-flex">                
                <li class="menu"><a href="../index.html" class="ningunDecorado">Inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">Productos</a></li>
                <li class="menu"><a href="../views/servicios.html" class="ningunDecorado">Servicios</a></li>
                <li class="menu"><a href="../views/compra.html" class="ningunDecorado">Compramos tu usado</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">Contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="marg">
        <h2 class="rojo">Servicio de limpieza y reparacion</h2>

        <article class="art">Ofrecemos servicios de limpieza y reparacion de consolas PS4 (Fat, Slim y Prom) y Xbox (360, One S y X). Tambien Limpieza de PC. Contactanos si desea reservar el turno. Es obligatorio abonar el precio de la limpieza con el fin de reservar el turno.
        </article>
    </section>

    <section class="marg">
        <h3 class="rojo">Precio de los servicios</h3>

        <ul class="lis">
            <li>Limpieza: $2500</li>
            <li>reparacion: $2000 (el precio solo es de la mano de obra, si son necesarios componentes se detallara en el presupuesto)</li>
        </ul>
    </section>

    <section class="marg">
        <h3 class="rojo">Reserva de turno</h3>
        <article class="art">Completa el siguiente formulario si queres que te contactemos</article>

        <form action="">

                <input type="text" name="nombre" placeholder="Nombre" class="imp">
         
                <input type="text" name="telefono" placeholder="Telefono" class="imp">

                <input type="email" name="email" placeholder="Email" class="imp">
                <br>

                <h3 class="rojo">Seleccione el servicio</h3>
                <select name="servicio" id="" class="imp">
                    <option value="reparacion">Reparacion</option>
                    <option value="limpieza">Limpieza</option>
                    <option value="ambos">Ambos</option>
                </select>
                <br>

                <textarea name="comentarios" id="" cols="40" rows="10" placeholder="Deje su mensaje" class="imp col"></textarea>
                <br>

                <input type="submit" value="Enviar" class="imp env">
        </form>
    </section>
    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>

</body>
</html>