/*cambios generales*/
* {
    margin: 0;
    padding: 0;
}
/*ESTRUCTURAS*/
header{
    color:rgb(255, 238, 0);
    background: rgba(255, 161, 1, 1.0);
    background: -webkit-linear-gradient(left, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    background: -moz-linear-gradient(left, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    background: linear-gradient(to right, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    height: 30vh;
    
}

footer{
    background: rgba(255, 161, 1, 1.0);
    background: -webkit-linear-gradient(right, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    background: -moz-linear-gradient(right, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    background: linear-gradient(to left, rgba(255, 161, 1, 1.0), rgba(251, 1, 1, 1.0));
    height: 10vh;
}

body{
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
    font-family: 'Mukta', sans-serif;
}
.listaMarcado{
    list-style-position:inside
}
.padre-flex{
    display: flex;
    position: relative;
    flex-flow: row wrap;
   justify-content: center;
}
.menuFondoRojo{
    background-color: red;
}
.menu{
    background-color: #ff0000;
    background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
    width: 100px;
    height: 50px;
    margin: 5px;
    list-style-type: none;
    border-radius: 3px;
    border: solid 1px black;
    list-style: none;
    text-align: center;
}
.boton{
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    width: 100px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    list-style-type:none;
    text-align: center;
    border-radius: 3px;
    border: solid 1px black;
    list-style: none;
}
.cont{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: 3px;
    margin: 2px;
}



.img{
    border: solid 2px black;
    padding: 3px 2px;
}

.imgq{
    width: 1000px;
    height: 600px;
    margin: 15px;
    padding: 10px;
}

.contenedor-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
}
#dest{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}
#desc{
            background-image: url(https://portinos-cloudfront.portinos.com/wp-content/uploads/2017/08/gamers-555x313.jpg);
            background-position:center;
            background-size:cover;
            background-repeat: no-repeat;
            font-size: 30px;
            text-transform: capitalize;
            color: yellow;
            margin: 10px 5px 12px;
}

.marg{
    margin: 5px;
    padding: 5px;
}
.imp{
    margin: 5px;
    padding: 5px;
    background-color: #f9ff60;
    background-image: linear-gradient(315deg, #f9ff60 0%, #ffef77 74%);
}
.rojo{
    color: rgb(170, 5, 5);
}
.env{
    width: 100px;
    height: 25px;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 5px;
    margin-left: 125px;
}
.art{
    margin-left: 5px;
    padding-left: 5px;
}
.lis{
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
}
.artp{
    margin: 10px 30px;
    padding: 10px 10px;
}
.vid{
    margin: 10px 75px;
    padding: 10px 20px;
}
.titP{
    margin: 10px 15px;
    padding: 5px;
}

/*FUENTES*/
.textoGrande{
            font-size: 50px;
}
.centrarTexto{
    text-align: center;
}
.textoMediano{
            font-size: 30px;
}
.textoChico{
        font-size: 13px;
}

.ningunDecorado{
    text-decoration: none;
}
.aLaDerecha{
    text-align: right;
}

.titulo{
    font-size: 70px;
}

.normal{
        font-style: normal;
}


/*ANIMACIONES*/
.animacion{
    color: yellow;
    animation-name: efecto;/* nombre del keyframe*/
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
}
/*linea de tiempo*/
@keyframes efecto{
    0%{
        background-color: red;
        color: yellow;
    }
    25%{
        background-color: yellow;
        color: red;
    }
    75%{
        background-color: red;
        color: yellow;
    }
    100%{
        background-color: yellow;
        color: red;
    }
}




/*cambios a contacto.html*/
#unoc{
    /*background-color: rgb(37, 188, 214);*/
    background: #2BBCB5;
background: -webkit-radial-gradient(bottom, #2BBCB5, #E20E49);
background: -moz-radial-gradient(bottom, #2BBCB5, #E20E49);
background: radial-gradient(to top, #2BBCB5, #E20E49);
}
#dosc{

    color: rgb(238, 255, 0);
    font-size: 30px;


}
#dosc p{
        font-size: 30px;
}

/*MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 599px){
    .titulo{
        font-size: 38px;
        text-align: center;
    }
    .textoGrande{
        font-size: 28px;
        text-align: center;
    }
    #dest{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        margin-left: 20px;
    }
    #desc{
        background-image: url(https://portinos-cloudfront.portinos.com/wp-content/uploads/2017/08/gamers-555x313.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        font-size: 20px;
        text-transform: capitalize;
        color: rgb(255, 174, 0);
        margin: 10px 5px 12px;
    }

    #dosc{
        font-size: 20px;
        color: rgb(95, 9, 6);
    
    }
    #unoc{
        
        background: #2BBCB5;
        background: -webkit-radial-gradient(bottom, #2BBCB5, #E20E49);
        background: -moz-radial-gradient(bottom, #2BBCB5, #E20E49);
        background: radial-gradient(to top, #2BBCB5, #E20E49);
        margin: 5px;
        padding: 5px;
    }
    .contenedor-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 20px;
    }
    .imgq{
        border: solid 2px black;
        margin: 5px 10px;
        padding: 3px 2px;
        width: 290px;
        height: 190px;
    }
    .vid{
        margin: 5px 10px;
        padding: 3px 2px;
        width: 290px;
        height: 190px;
    }
    .img{
        border: solid 2px black;
        padding: 3px 2px;
        width: 270px;
        height: 200px;
    }
    .padre-flex{
        display: flex;
        position: relative;
        flex-flow: row wrap;
       justify-content: center;
    }
    .menuFondoRojo{
        background-color: red;
    }
    .menu{
        background-color: #ff0000;
        background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
        width: 80px;
        height: 50px;
        margin: 5px;
        list-style-type: none;
        border-radius: 3px;
        border: solid 1px black;
        list-style: none;
        text-align: center;
        font-size: 13px;
    }

    .boton{
        background-color: #f5d020;
        background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
        width: 80px;
        height: 50px;
        margin: 5px;
        list-style-type: none;
        border-radius: 3px;
        border: solid 1px black;
        list-style: none;
        text-align: center;
    }
    .margPh{
        margin-left: 20px;
        padding-left: 10px;
    }

    .col{
        columns: 50%;
    }
    
}

@media (min-width:600px) and (max-width:1023px){
    .titulo{
        font-size: 60px;
        text-align: center;
    }
    .textoGrande{
        font-size: 35px;
        text-align: center;
    }

    #desc{
        background-image: url(https://portinos-cloudfront.portinos.com/wp-content/uploads/2017/08/gamers-555x313.jpg);
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        font-size: 30px;
        text-transform: capitalize;
        color: rgb(43, 255, 0);
        margin: 10px 5px 12px;
    }

    #dosc{
        font-size: 30px;
        color: rgb(56, 2, 2);
    
    }
    #unoc{
        
        background: #2BBCB5;
        background: -webkit-radial-gradient(bottom, #2BBCB5, #E20E49);
        background: -moz-radial-gradient(bottom, #2BBCB5, #E20E49);
        background: radial-gradient(to top, #2BBCB5, #E20E49);
        margin: 10px;
        padding: 10px;
    }
    .imgq{
        border: solid 2px black;
        margin: 20px 30px;
        padding: 5px 5px;
        width: 650px;
        height: 300px;
    }
    .vid{
        margin: 15px 75px;
        padding: 5px 10px;
    }
    .padre-flex{
        display: flex;
        position: relative;
        flex-flow: row wrap;
       justify-content: center;
    }
    .menuFondoRojo{
        background-color: red;
    }
    .menu{
        background-color: #ff0000;
        background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
        width: 100px;
        height: 50px;
        margin: 5px;
        list-style-type: none;
        border-radius: 3px;
        border: solid 1px black;
        list-style: none;
        text-align: center;
    }

    .boton{
        background-color: #f5d020;
        background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
        width: 100px;
        height: 50px;
        margin: 5px;
        list-style-type: none;
        border-radius: 3px;
        border: solid 1px black;
        list-style: none;
        text-align: center;
    }

}